@media (max-width: 1024px) {
    body, .container {
        width: 1024px; /* Force the width to be 1024px on all devices */
        overflow-x: visible; /* Allow horizontal scrolling */
    }
}

th, td {
    border: 1px solid #ddd; /* Optional: adds border for clarity */
    text-align: left;
    padding: 8px;
}


.rtl-table {
  float:right;
  font-family:Dubai;
  font-weight:bold;
    direction: rtl;
    text-align: right;
    border-collapse: collapse; /* Collapses borders between table cells */
    
}

    .rtl-table th,
    .rtl-table td {
        border: 1px solid #ccc; /* Light grey border for readability */
        padding: 3px; /* Adds space around text in each cell */
        text-align: right; /* Aligns text to the right for RTL */
    }

    .rtl-table th {
        background-color: #f9f9f9; /* Light background for headers */
        color: #333; /* Darker text for contrast */
    }

 
