/* Ensure the table container allows scrolling on smaller screens */
@media (max-width: 1020px) {
    .container {
        width: 100%; /* Ensure the container takes full width */
        overflow-x: auto; /* Enable horizontal scrolling */
        overflow-y: hidden; /* Prevent vertical scrolling */
    }

    .rtl-table {
        font-size: 14px; /* Adjust font size for mobile */
        white-space: nowrap; /* Prevent wrapping of table content */
    }

    th, td {
        padding: 8px; /* Reduce padding for smaller screens */
    }
}

/* Table styling */
th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* RTL Table Styling */
.rtl-table {
    font-size: 17px;
    max-width: 1024px;
    font-family: Calibri;
    font-weight: bold;
    direction: rtl;
    border-collapse: collapse;
    border: 1px solid #ccc;
    white-space: nowrap; /* Prevent text from wrapping */
}

    /* Header and cell styling */
    .rtl-table th, .rtl-table td {
        border: 3px solid #ccc;
        padding: 5px;
        text-align: center;
    }

    /* Header background and text color */
    .rtl-table th {
        background-color: #f9f9f9;
        color: #333;
        cursor: pointer;
    }

        /* Sorting indicators */
        .rtl-table th.sorted-asc::after {
            content: " ▲";
        }

        .rtl-table th.sorted-desc::after {
            content: " ▼";
        }
