
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap');

.container {
    direction: rtl; /* Apply RTL to the container */
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center; /* Ensure the container aligns content to the right */
}

.rtl-table {
    font-size: 14px;
    max-width: 1024px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    border-collapse: collapse;
    border: 1px solid #ccc;
    white-space: nowrap; /* Prevent text from wrapping */
}

    .rtl-table th, .rtl-table td {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center; /* Align content to the right */
    }

        /* Specific width for "المحطة" column */
        .rtl-table th:nth-child(1), .rtl-table td:nth-child(1) {
            max-width: 100px; /* Set max width as needed */
            width: 100px; /* Set fixed width to control the cell width */
            overflow: hidden; /* Hide overflow if content is too wide */
            text-overflow: ellipsis; /* Add ellipsis for long content */
        }

    /* Header background and text color */
    .rtl-table th {
        background-color: #f9f9f9;
        color: #333;
        cursor: pointer;
    }

        /* Sorting indicators */
        .rtl-table th.sorted-asc::after {
            content: " ▲";
        }

        .rtl-table th.sorted-desc::after {
            content: " ▼";
        }
