body, html {
    margin: 0;
    padding: 0;
    overflow-x: auto; /* Allow horizontal scrolling */
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling if table exceeds screen width */
}

table {
    min-width: 768px; /* Set a minimum width or the actual width you need */
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd; /* Optional: adds border for clarity */
    text-align: left;
    padding: 8px;
}


.rtl-table {
  float:right;
  font-family:Dubai;
  font-weight:bold;
    direction: rtl;
    text-align: right;
   
    border-collapse: collapse; /* Collapses borders between table cells */
    margin-top: 20px; /* Adds some space above the table */
}

    .rtl-table th,
    .rtl-table td {
        border: 1px solid #ccc; /* Light grey border for readability */
        padding: 3px; /* Adds space around text in each cell */
        text-align: right; /* Aligns text to the right for RTL */
    }

    .rtl-table th {
        background-color: #f9f9f9; /* Light background for headers */
        color: #333; /* Darker text for contrast */
    }

 
