@media (max-width: 1020px) {
    body, .container {
        width: 1020px; /* Force the width to be 1024px on all devices */
        overflow-x: visible; /* Allow horizontal scrolling */
    }
}

th, td {
    border: 1px solid #ddd; /* Optional: adds border for clarity */
    text-align: left;
    padding: 8px;
}
  

.rtl-table {
    font-size: 16px;
    width: 100%; /* Full-width can help utilize space */
    max-width: 1100px; /* Or set a maximum width */
    float: right;
    font-family: Calibri;
    font-weight: bold;
    direction: rtl;
    text-align: center;
    border-collapse: collapse; /* Collapses borders between table cells */

    border-collapse: separate; /* Ensures spacing is handled cleanly */
    border-spacing: 2px; /* Adds space between cells */
    border: 1px solid #ccc; /* Adds a border around the table */
}


    .rtl-table th,
    .rtl-table td {
        border: 1px solid #ccc; /* Light grey border for readability */
        padding: 6px; /* Adds space around text in each cell */
        text-align: right; /* Aligns text to the right for RTL */
    }

    .rtl-table th {
        background-color: #f9f9f9; /* Light background for headers */
        color: #333; /* Darker text for contrast */
    }
    .rtl-table th,
    .rtl-table td {
        line-height: 1.5; /* This increases the space between lines */
    }
 
