@media (max-width: 1020px) {
    body, .container {
        width: 1020px; /* Force the width to be 1024px on all devices */
        overflow-x: visible; /* Allow horizontal scrolling */
    }
}

th, td {
    border: 1px solid #ddd; /* Optional: adds border for clarity */

    padding: 10px;
}





.rtl-table {
    font-size: 17px;
    max-width: 1024; /* Or set a maximum width */
    float: right;
    font-family: Calibri;
    font-weight: bold;
    direction: rtl;
    border-collapse: collapse; /* Collapses borders between table cells */


    border: 1px solid #ccc; /* Adds a border around the table */
}


    .rtl-table th,
    .rtl-table td {
        border: 3px solid #ccc; /* Light grey border for readability */
        padding: 5px; /* Adds space around text in each cell */
        text-align: center;
    }

    .rtl-table th {
        background-color: #f9f9f9; /* Light background for headers */
        color: #333; /* Darker text for contrast */
    }

    .rtl-table th,
    .rtl-table td {
        cursor: pointer;
    }

        .rtl-table th.sorted-asc::after {
            content: " ▲";
        }

        .rtl-table th.sorted-desc::after {
            content: " ▼";
        }
