@media (max-width: 1020px) {
    body, .container {
        width: 100%; /* Force the width to be 100% on all devices */
        height: 100vh; /* Set the height to be 100% of the viewport height */
        overflow-x: visible; /* Allow horizontal scrolling */
    }
}

html, body {
    height: 100%; /* Ensure the html and body take full height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

th, td {
    border: 1px solid #ddd; /* Optional: adds border for clarity */
 
}

.rtl-table {
    font-size: 18px;
    width: 100%; /* Force the table to be 100% width */
    height: 80%; /* Force the table to be 100% height */
    max-width: none; /* Remove any max width restriction */
    font-family: Calibri;
    font-weight: bold;
    direction: rtl;
    border-collapse: collapse; /* Collapses borders between table cells */
    border: 1px solid #ccc; /* Adds a border around the table */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make container take full viewport height */
}

.table-wrapper {
    flex-grow: 1; /* Allow table wrapper to grow and fill the container */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table-content {
    flex-grow: 1; /* Allow table content to grow and fill the table wrapper */
    overflow: auto; /* Add scroll if content overflows */
}

.rtl-table th,
.rtl-table td {
    border: 3px solid #ccc; /* Light grey border for readability */
    padding: 5px; /* Adds space around text in each cell */
    text-align: center;
}

.rtl-table th {
    background-color: #f9f9f9; /* Light background for headers */
    color: #333; /* Darker text for contrast */
}

.rtl-table th,
.rtl-table td {
    cursor: pointer;
}
    



    .rtl-table th.sorted-asc::after {
        content: " ▲";
    }

    .rtl-table th.sorted-desc::after {
        content: " ▼";
    }

/* Ensure the table is responsive on mobile devices */
@media (max-width: 768px) {
    .rtl-table {
        font-size: 12px; /* Slightly reduce font size on smaller screens */
    }

    th, td {
        padding: 5px; /* Adjust padding for smaller screens */
    }
}
